<h1>Login Page</h1>
    <hr>
<div>
    <div >
                <div class="panel panel-info" style="margin: 50px 190px 20px 310px;max-width: 450px">
                     <div class="panel-heading">
                      <h3 class="panel-title" style="text-align: center">Login</h3>
                      </div>
                      <div class="panel-body">
                      <input type="text" class="form-control" id="inputError" placeholder="Name" [(ngModel)]="name">
                      <br/>
                      <input type="password" class="form-control" id="inputError" placeholder="Password" [(ngModel)]="password">
                      </div>
                </div>
        
     <button class="btn btn-primary" style="margin: 10px 10px 20px 500px" (click)="submit()">Login</button>
        
        
        
        
        <div>

</div>